/* Cq Design */

@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
body{
  font-family: 'Almarai', sans-serif;

}

header{
  font-family: 'Almarai', sans-serif;
  margin-bottom: 20%;
}

body{
   font-family: 'Work Sans', sans-serif;
   text-align: center;
   background: -webkit-linear-gradient(left, #1a1a5d, rgb(130, 77, 163));

   
   
}

header{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color:#fefdfd;
  opacity: 0.8;
  padding: 1.5%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

header img{
  width: 10%;

}
nav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 30%;
}

nav :hover{
  text-decoration: underline;
  cursor: pointer;
  color:  rgba(28, 184, 142, 0.953);
}



 nav a{
   text-decoration: none;
   color: #082644;
   font-family: 'Almarai', sans-serif;
   
  
}

.button a{
  text-decoration: none;
  color: #fff;
}
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #1044be;
  background-size: 400%;
  color: #523f34;
  border: none;
  font-weight: 700;
  font-family: 'Almarai', sans-serif;

}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  color: #fff;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(11, 51, 210) 10.8%,
    rgb(23, 223, 153) 94.3%
  );
  
  transition: all 0.475s;
}

#btns{
  display: flex;
width: 34%;
gap: 15%;

}


.MAIN{
    margin-top: 20%;
    display: flex;
    text-align: left;
    justify-content: center;
    width: 800px;
    background-color: #f8f8f8;
    border: 1px solid rgba(13, 9, 61, 0.867);
    border-radius: 20px;
    margin: auto;
}
.faq-heading{
    margin-top: 20%;
    border-bottom: #140c0c;
    padding: 20px 60px;
    text-align: center;
    color:#302978 ;
    justify-content: center;
   
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #302978;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
   
}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F1F6F9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
   color: rgb(17, 17, 64);
    word-spacing: 2px;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

#aaa{
  text-decoration: none;
  color: #ece1e1;
}

#aaa :hover{
  cursor: pointer;
  text-decoration: underline;
}