/*body*/

h1{
text-align: center;
}


.aboutus{
  border: 2px solid rgb(253, 252, 252);
  height: 600px;
  display: flex;
  
  padding: 1%;
  align-items: center;
  
}

.p{
  display: flex;
  flex-direction: column;
  width: 500px;
  
  
}

.aboutus img{
  border-radius: 350px;
  width: 300px;
  margin-right: 30%;
  margin-left: 5% ;
 
}

.p h3{
  margin-top: 10%;
  font-size: xx-large;
  color: #f2f5f7;
 
 

}

.p p{
  word-spacing: 3px;
  font-size: larger;
  color: #b7c0c7;
}
