/* header - nav - logo */

@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
body{
  font-family: 'Almarai', sans-serif;

}


header{
  font-family: 'Almarai', sans-serif;
  margin-bottom: 12%;
  font-weight: 900;
}
*{
  margin:0 ;
  padding: 0;
  font-weight: 700;
}
body{
  direction: ltr;
}
header{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color:#fff;
  opacity: 0.8;
  padding: 1.5%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

header img{
  width: 10%;

}
nav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 30%;
}

nav :hover{
  text-decoration: underline;
  cursor: pointer;
  color:  rgba(28, 96, 184, 0.953);
}



 nav a{
   text-decoration: none;
   color: rgb(21, 32, 49);
   font-family: 'Almarai', sans-serif;
}

.but a{
  text-decoration: none;
  color: #ebf1f3;
}
.but {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #0e57cc;
  background-size: 400%;
  color: #ededf2;
  border: none;
  font-weight: 700;
  font-family: 'Almarai', sans-serif;

}

.but:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.but::before {
  content: '';
  position: absolute;
  top: 0;
  color: #fff;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(117, 11, 210) 10.8%,
    rgb(23, 223, 153) 94.3%
  );
  
  transition: all 0.475s;
}



#btns{
  display: flex;
width: 34%;
gap: 15%;

}
/* cards for services */
.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--clr);
    color: #fff;
    background-color: #36a3bf;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #000;
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }
ul li{
  color: #fff;
}

  .about{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid rgb(11, 186, 218);
    color: #041634;
    width: 400px;
    height: 200px;
    background-color: #041634;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
    padding: 6%;
  }
  .allf ,.allr{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 5%;
 
  }

  .fin, .re{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: #fff;
    background-color: rgba(97, 37, 207, 0.937);
    border: 2px solid rgb(12, 233, 237);
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
  }
  #cardsf,#cardsr, #cardsm, #cardsrm{
    width: 100%;
    display: flex;
    justify-content: space-around;

  }
  
  .fin img ,.re img{
    width: 400px;
    height: 180px;
    border-radius: 15px;
  }

  .cards{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
   /* .about{
    width: 400px;
   background-color: #fff;
   } */
  #s{
    width: 19px;
    height: 20px;
    font-size: 22px;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    display: flex;
    align-items: center;
    color: #0aaaee;
    margin-top: 3%;
    justify-content: center;
    border: 1px solid rgb(48, 181, 181);
  
}
  .both{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
  }
  .both2{
    display: flex;
    justify-content: space-around;
  }
  h1{
    margin: auto;
    width: 16%;
    padding: 1%;
    color: #fff;
    border-right: 2px solid rgb(55, 0, 255);
    border-bottom: 2px solid rgb(0, 213, 255);
    text-align: center;
    margin-bottom: 6%;
  }
  body{
    background-image: url('../IMG/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: center;
    background-color: #070537;
  }